
@import '~vuetify/dist/vuetify.min.css';
// Variables
@import 'variables';
// Helpers
@import "spacing";
// Mixin
@import "mixins";

html {
  height: 100%;
}
body {
  font-family: $font-family-sans-serif;
  height: 100%;
}

#app {
  //height: 100%;
  background: $primary-color;
}

.full-height {
  height: 100%;
}

.text-white {
  color: #ffffff;
}

// Points
@import "points";

// Graphs
@import "graphs";